﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Repair Systems<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:repair@example.com">repair@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:service@example.com">repairservice@gmail.com</a>
</address>